<div class="responsive-paddings">
    <div class="content-block">
        <h2>Countries Table</h2>
    </div>

    <div>
        <!-- Tabla -->
        <dx-data-grid 
            id="gridContainer" 
            [dataSource]="countries" 
            [showBorders]="true"
            (onExporting)="onExporting($event)"
            (onCellClick)="openPopup($event)">

            <!-- Exportar a excel la tabla de paises-->
            <dxo-export [enabled]="true"></dxo-export>

            <!-- Paginación -->
            <dxo-pager 
                [showPageSizeSelector]="true" 
                [showInfo]="true" 
                [allowedPageSizes]="[10, 20, 50]"></dxo-pager>

            <dxo-editing mode="row" [allowDeleting]="allowDeleting"></dxo-editing>

            <!-- Columnas -->
            <dxi-column dataField="independent"></dxi-column>
            <dxi-column dataField="name"></dxi-column>
            <dxi-column dataField="capital"></dxi-column>
            <dxi-column dataField="population"></dxi-column>
            <dxi-column dataField="alpha2Code"></dxi-column>
            <dxi-column dataField="flag" cellTemplate="imgTemplate"></dxi-column>

                <div *dxTemplate="let img of 'imgTemplate'">
                    <img src="{{ img.value }}" class="imgBackground" />
                </div>
        </dx-data-grid>

    </div>

</div>

<app-popup-gallery [visible]="visible" title="Flags" contentTemplate="content" [resizable]="false"
    [arrayImages]="arrayFlags" [showCloseButton]="true" [rowIndex]="rowIndex" (emitVisible)="getPropVisible($event)">
</app-popup-gallery>

<ng-template #noImage>
    <label>No Image</label>
</ng-template>