<div class="responsive-paddings">
    <div class="content-block">
        <h2>Add Country</h2>
    </div>

    <div>
        <!-- Para que se dispare el guardar al pulsar el boton, 
             hay que poner la etiqueta form y el evento submit en dicha etiqueta -->
        <form (submit)="submit()">

            <dx-form id="form" [formData]="addCountry" [colCount]="2">

                <dxi-item itemType="group" caption="Country">
                    <dxi-item dataField="name" [isRequired]="true"></dxi-item>
                    <dxi-item dataField="region" [isRequired]="true"></dxi-item>
                    <dxi-item dataField="notes" [isRequired]="true"></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" caption="Data Country">
                    <dxi-item dataField="language" [isRequired]="true"></dxi-item>
                    <dxi-item dataField="population" [isRequired]="true">
                            <dxi-validation-rule type="pattern" [pattern]="numberPattern"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="urlFlag" [isRequired]="true">
                        <dxi-validation-rule type="pattern" [pattern]="urlPattern"></dxi-validation-rule>
                    </dxi-item>
                </dxi-item>

            </dx-form>
            <dx-button class="fields--btnContainer--btnSubmit" text="Save" type="success" [useSubmitBehavior]="true"
                    icon="save" ></dx-button>
            <dx-button text="Clear" (onClick)="clear()"></dx-button>
        </form>
    </div>
</div>