<div class="responsive-paddings">
    <h2>Country Consult</h2>

    <div class="dataContainer">
        <dx-select-box
        [dataSource]= "countries"
        displayExpr="name"
        (onValueChanged)="selectedCountry($event)"
        [showClearButton]="true"
        >
        <div *dxTemplate="let data of 'item'">
            <div class="dataContainer--data">
                <img [src]="data.urlFlag" height="50">
                <label>{{data.name}}</label>
            </div>
        </div>
    </dx-select-box>
    </div>

    <div class="content" *ngIf="data">
        <div class="content--fields">
            <label><strong>Country name:</strong> {{fieldCountry.name}}</label>
    
            <label><strong>Region:</strong> {{fieldCountry.region}}</label>
    
            <label><strong>Language:</strong> {{fieldCountry.language}}</label>
    
            <label><strong>Population:</strong> {{fieldCountry.population | number}}</label>
        </div>
        <div class="content--flag" *ngIf="fieldCountry.urlFlag!.length > 0; else noImage">
            <img [src]="fieldCountry.urlFlag">
        </div>
    </div>
</div>


<ng-template class="content--flag" #noImage>
    <img src="../../../../assets/gallery/noImage.png" width="320" height="213">
</ng-template>


<app-spinner shadingColor="rgba(0, 181, 255, 0.5)" 
             [visible]="loadSpinner"
             [showIndicator]="true"
             [showPane]="true"
             [shading]="true"
             [hideOnOutsideClick]="true"
             (emitVisible)="getPropVisible($event)">
</app-spinner>